<div class="container">
  <div class="videos">
    <div class="video">
      <div class="video__inner">
        <video class="video__player" poster="images/northwest-art-gallery.jpg">
        </video>
      </div>
    </div>
    <div class="video">
      <div class="video__inner">
        <video class="video__player" poster="images/northwest-art-gallery.jpg">
        </video>
      </div>
    </div>
    <div class="video">
      <div class="video__inner">
        <video class="video__player" poster="images/northwest-art-gallery.jpg">
        </video>
      </div>
    </div>
    <div class="video">
      <div class="video__inner">
        <video class="video__player" poster="images/northwest-art-gallery.jpg">
        </video>
      </div>
    </div>
    <div class="video">
      <div class="video__inner">
        <div class="video__overlay"></div>
        <video class="video__player" poster="images/northwest-art-gallery.jpg">
        </video>
      </div>
    </div>
    <div class="video">
      <div class="video__inner">
        <video class="video__player" poster="images/northwest-art-gallery.jpg">
        </video>
      </div>
    </div>
    <div class="video">
      <div class="video__inner">
        <video class="video__player" poster="images/northwest-art-gallery.jpg">
        </video>
      </div>
    </div>
    <script src="js/client.js"></script>
  </div>
</div>
