// Monochromatic colors
$black         = #000;
$light-black   = #222;
$dark-grey     = #4a4a4a;
$grey          = #9b9b9b;
$light-grey    = #eee;
$white         = #fff;

body {
  color: $white;
  background: $light-black;
}
